<!-- IF S_TYPE == 1 -->
	<div class="side-segment"><h3>{L_CONFIRMATION}</h3></div>
<div class="well">
	<fieldset>
<!-- ENDIF -->
<div class="clearfix">
<label class="control-label" for="answer">{QA_CONFIRM_QUESTION}{L_COLON}</label><span class="help-block">{L_CONFIRM_QA_EXPLAIN_ALT}</span>
<div class="space10"></div>
<div class="clearfix">
     <input class="form-control input-sm" type="text" tabindex="{$CAPTCHA_TAB_INDEX}" name="qa_answer" id="answer" size="45" title="{L_ANSWER}" placeholder="{L_UCP_REG_CTCHA_PLACEHOLDER}"/>
</div>
 <input type="hidden" name="qa_confirm_id" id="qa_confirm_id" value="{QA_CONFIRM_ID}" />
</div>
<!-- IF S_TYPE == 1 -->
	</fieldset>
</div>
<!-- ENDIF -->