<div class="clearfix">
<!-- IF S_TYPE == 1 -->
<div class="well">
	<div class="side-segment"><h3>{L_CONFIRMATION}</h3></div>
	<p>{L_CONFIRM_EXPLAIN}</p>
	<fieldset>
<!-- ENDIF -->
<!-- IF S_RECAPTCHA_AVAILABLE -->
<label class="control-label" for="recaptcha">{L_CONFIRM_CODE}{L_COLON}</label><span class="help-block">{L_RECAPTCHA_EXPLAIN}</span>
<noscript>
	<div>{L_RECAPTCHA_NOSCRIPT}</div>
</noscript>
<script src="{RECAPTCHA_SERVER}.js?hl={LA_RECAPTCHA_LANG}" async defer></script>
<div class="g-recaptcha" data-sitekey="{RECAPTCHA_PUBKEY}" data-tabindex="<!-- IF $CAPTCHA_TAB_INDEX -->{$CAPTCHA_TAB_INDEX}<!-- ELSE -->10<!-- ENDIF -->"></div>
<!-- ELSE -->
{L_RECAPTCHA_NOT_AVAILABLE}
<!-- ENDIF -->
<!-- IF S_TYPE == 1 -->
	</fieldset>
</div>
<!-- ENDIF -->
</div>