<!-- IF S_VIEWTOPIC -->
<div class="space10"></div>
<div class="pull-left">
	<a href="{U_VIEW_FORUM}" accesskey="r"><i class="fa fa-chevron-left"></i>&nbsp;{L_RETURN_TO_FORUM}</a>
</div>
<div class="space10"></div>
<!-- ELSEIF S_VIEWFORUM -->
<div class="space10"></div>
<div class="pull-left">
	<a href="{U_INDEX}" accesskey="r"><i class="fa fa-chevron-left"></i>&nbsp;{L_RETURN_TO_INDEX}</a>
</div>
<div class="space10"></div>
<!-- ELSEIF SEARCH_TOPIC -->
<div class="space10"></div>
<div class="pull-left">
	<a href="{U_SEARCH_TOPIC}" accesskey="r"><i class="fa fa-chevron-left"></i>&nbsp;{L_RETURN_TO_TOPIC}</a>
</div>
<div class="space10"></div>
<!-- ELSEIF S_SEARCH_ACTION -->
<div class="space10"></div>
<div class="pull-left">
	<a href="{U_SEARCH}" title="{L_SEARCH_ADV}" accesskey="r"><i class="fa fa-chevron-left"></i>&nbsp;{L_GO_TO_SEARCH_ADV}</a>
</div>
<div class="space10"></div>
<!-- ENDIF -->