<!-- INCLUDE mcp_header.html -->
<!-- DEFINE $CUSTOM_FIELDSET_CLASS = 'forum-selection2' -->
<div class="side-segment"><h3><a href="{U_VIEW_FORUM}">{L_FORUM}{L_COLON}&nbsp;{FORUM_NAME}</a></h3></div>
<div class="row">
	
	<div class="col-md-4">
	<!-- INCLUDE jumpbox_options.html -->
	</div>

	<div class="col-md-8"> 
     <ul class="pagination pagination-sm pull-right">
		 <li><a>{TOTAL_TOPICS}</a></li>
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			<li class="active"><a>{PAGE_NUMBER}</a></li>	
		<!-- ENDIF -->
     </ul>
   </div>

</div>

<form method="post" id="mcp" action="{S_MCP_ACTION}">
<div class="tab-pane active">
	<!-- IF .topicrow -->
	<div class="panel panel-forum">
	<div class="panel-heading">
	 <i class="fa fa-list-ol"></i>&nbsp;{L_TOPICS}
	</div>
	<div class="panel-inner">
	<table class="footable table table-striped table-primary table-hover">
	<thead>
		<tr>
			<th data-class="expand">{L_TITLE}</th>
			<th data-hide="phone">{L_REPLIES}</th>
			<th data-hide="phone">{L_LAST_POST}</th>
			<!-- IF not S_MERGE_SELECT -->
		    <th>{L_MARK}</th>
		    <!-- ENDIF -->
		</tr>
	</thead>		
	<tbody>
	<!-- DEFINE $VAR -->{L_VIEW_TOPIC_LOCKED}<!-- ENDDEFINE -->
		<!-- BEGIN topicrow -->
		<tr>
			<td>
		    <!-- IF topicrow.TOPIC_ICON_IMG --><i class="topic-icon" style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;" title="{topicrow.TOPIC_FOLDER_IMG_ALT}"></i><!-- ENDIF -->
			 <span class="icon-wrapper">
			  <i class="row-icon-font icon-moon-default2<!-- IF topicrow.S_TOPIC_TYPE == 2 --> icon-moon-voice2<!-- ELSEIF topicrow.S_TOPIC_TYPE == 3 --> icon-moon-podcast2<!-- ESLEIF topicrow.S_TOPIC_TYPE == 1 --> icon-moon-pushpin2<!-- ESLEIF topicrow.S_HAS_POLL --> icon-moon-poll<!-- ENDIF --><!-- IF topicrow.S_TOPIC_MOVED --> icon-moon-moved<!-- ENDIF --><!-- IF topicrow.S_UNREAD_TOPIC --> forum-unread<!-- ELSE --> forum-read<!-- ENDIF -->" title="{topicrow.TOPIC_FOLDER_IMG_ALT}"></i>
			 </span>
			 <i class="row-icon-font-mini<!-- IF topicrow.TOPIC_TYPE == $VAR --> fa fa-lock forumview-lock<!-- ENDIF -->" title="{topicrow.TOPIC_FOLDER_IMG_ALT}"></i>
			 <!-- IF topicrow.S_SELECT_TOPIC --><a href="{topicrow.U_SELECT_TOPIC}" class="">&#91;&nbsp;{L_SELECT_MERGE}&nbsp;&#93;</a>&nbsp;&nbsp; <!-- ENDIF -->
			 <!-- EVENT mcp_forum_topic_title_before -->
			 <a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
			 <!-- EVENT mcp_forum_topic_title_after -->
			 <!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED --><a href="{topicrow.U_MCP_QUEUE}" title="{L_TOPICS_ROW_NOT_APPROVED}"><i class="fa fa-question-circle"></i></a> <!-- ENDIF -->
			 <!-- IF topicrow.S_TOPIC_DELETED or topicrow.S_POSTS_DELETED --><a href="{topicrow.U_MCP_QUEUE}" title="{L_TOPICS_ROW_DELETED}">&nbsp;<i class="fa fa-exclamation-circle text-danger"></i></a><!-- ENDIF -->
			 <!-- IF topicrow.S_TOPIC_REPORTED --><a href="{topicrow.U_MCP_REPORT}" title="{L_TOPICS_ROW_REPORTED}"><i class="fa fa-exclamation-circle text-danger"></i></a><!-- ENDIF -->
			 <!-- IF topicrow.S_MOVED_TOPIC and S_CAN_DELETE -->&nbsp;<a href="{topicrow.U_DELETE_TOPIC}" class="">&#91;&nbsp;{L_DELETE_SHADOW_TOPIC}&nbsp;&#93;</a><!-- ENDIF -->
			 <br />
			 <!-- IF .topicrow.pagination -->
				    <ul class="pagination pagination-forum pagination-xs pull-right hidden-sm hidden-xs">
						<!-- BEGIN pagination -->
						 <!-- IF topicrow.pagination.S_IS_PREV -->
						 <!-- ELSEIF topicrow.pagination.S_IS_CURRENT --><li class="active">{topicrow.pagination.PAGE_NUMBER}</li>
						 <!-- ELSEIF topicrow.pagination.S_IS_ELLIPSIS --><li class="ellipsis"><a>{L_ELLIPSIS}</a></li>
						 <!-- ELSEIF topicrow.pagination.S_IS_NEXT -->
						<!-- ELSE -->
						 <li><a href="{topicrow.pagination.PAGE_URL}">{topicrow.pagination.PAGE_NUMBER}</a></li>
						<!-- ENDIF -->
						<!-- END pagination -->
					</ul>		
			    <!-- ENDIF -->
			 <!-- IF topicrow.ATTACH_ICON_IMG --><i class="fa fa-paperclip fa-flip-horizontal" title="{L_ATTACH_FORUM}"></i><!-- ENDIF -->
			 {L_POST_BY_AUTHOR}&nbsp;{topicrow.TOPIC_AUTHOR_FULL}&nbsp;&#45;<small>{topicrow.FIRST_POST_TIME}</small>
			</td>
			<td class="stats-col">{topicrow.REPLIES}&nbsp;{L_REPLIES}</td>
			<td class="center">{L_POST_BY_AUTHOR}&nbsp;{topicrow.LAST_POST_AUTHOR_FULL} 
			<br /><small>{topicrow.LAST_POST_TIME}</small>
			</td>
			<!-- IF not S_MERGE_SELECT -->
			<td class="large60"><div class="text-center"><!-- IF not topicrow.S_MOVED_TOPIC --><input type="checkbox" name="topic_id_list[]" id="{topicrow.TOPIC_ID}" value="{topicrow.TOPIC_ID}"<!-- IF topicrow.S_TOPIC_CHECKED --> checked="checked"<!-- ENDIF -->><label for="{topicrow.TOPIC_ID}"><!-- ELSE -->&nbsp;</label><!-- ENDIF --></div></td>
			<!-- ENDIF -->
		</tr>
		<!-- END topicrow -->
		</tbody>
	</table>
	</div>
	</div>
	<!-- ELSE -->
	<div class="alert alert-info fade in">
        <button data-dismiss="alert" class="close" type="button" aria-hidden="true"><i class="awe-remove-circle"></i></button>
         <i class="fa fa-warning"></i>&nbsp;<strong>{L_INFO_BOX}</strong>&nbsp;{L_NO_TOPICS}
     </div> 
	<!-- ENDIF -->
		

<div class="row">
    <!-- EVENT mcp_forum_actions_before -->
   <div class="col-md-6 pull-left">
    <fieldset>
	 <!-- IF not S_MERGE_SELECT -->
	 <div class="input-group">
	 <select class="selectpicker" data-container="body" data-width="auto" data-style="btn btn-default form-control" name="action">
		<option value="" selected="selected">{L_SELECT_ACTION}</option>
		<!-- IF S_CAN_DELETE --><option value="delete_topic">{L_DELETE}</option><!-- ENDIF -->
		<!-- IF S_CAN_MERGE --><option value="merge_topics">{L_MERGE}</option><!-- ENDIF -->
		<!-- IF S_CAN_MOVE --><option value="move">{L_MOVE}</option><!-- ENDIF -->
		<!-- IF S_CAN_FORK --><option value="fork">{L_FORK}</option><!-- ENDIF -->
		<!-- IF S_CAN_LOCK --><option value="lock">{L_LOCK}</option><option value="unlock">{L_UNLOCK}</option><!-- ENDIF -->
		<!-- IF S_CAN_SYNC --><option value="resync">{L_RESYNC}</option><!-- ENDIF -->
		<!-- IF S_CAN_MAKE_NORMAL --><option value="make_normal">{L_MAKE_NORMAL}</option><!-- ENDIF -->
		<!-- IF S_CAN_MAKE_STICKY --><option value="make_sticky">{L_MAKE_STICKY}</option><!-- ENDIF -->
		<!-- IF S_CAN_MAKE_ANNOUNCE --><option value="make_announce">{L_MAKE_ANNOUNCE}</option><!-- ENDIF -->
		<!-- IF S_CAN_MAKE_ANNOUNCE_GLOBAL --><option value="make_global">{L_MAKE_GLOBAL}</option><!-- ENDIF -->
	 <!-- EVENT mcp_forum_actions_append -->
	 </select>
	<span class="input-group-btn">
	<a href="javascript:void(0);" onclick="marklist('mcp', 'topic_id_list', true); return false;" class="btn btn-default" title="{L_MARK_ALL}"><i class="fa fa-check-square-o"></i></a>
	<a href="javascript:void(0);" onclick="marklist('mcp', 'topic_id_list', false); return false;" class="btn btn-default" title="{L_UNMARK_ALL}"><i class="fa fa-square-o"></i></a>
	<button class="btn btn-default" type="submit" value="{L_SUBMIT}" >{L_SUBMIT}</button>
   </span>
   </div>
	<!-- ENDIF -->
	{S_FORM_TOKEN}
    </fieldset>
	<!-- EVENT mcp_forum_actions_after -->
   </div>

   
   <div class="col-md-2 pull-right hidden-xs">
    <ul class="pagination pagination-sm pull-right">
	    <li><a title="" href="javascript:void(0);" data-target=".sorting" data-toggle="collapse">{L_OPTIONS}</a></li>
	</ul>
   </div>
</div>

<!-- INCLUDE display_options.html -->

</div>
</form>
<!-- INCLUDE mcp_footer.html -->