<!-- INCLUDE mcp_header.html -->
<div class="side-segment"><h3>{L_TITLE}</h3></div>
<form method="post" id="mcp" action="{U_POST_ACTION}">

<div class="row">
    <div class="col-md-4 col-sm-6">
	 <div class="input-group input-group-sm"> 
	   <input class="form-control" type="text" name="keywords" id="search_keywords" placeholder="{L_SEARCH_KEYWORDS}">
	  <span class="input-group-btn">
	   <button type="submit" class="btn btn-default">{L_SEARCH}</button>
      </span>
     </div>
    </div>

	<div class="col-md-8">
        <ul class="pagination pagination-sm pull-right">
		 <li><a>{TOTAL}</a></li>
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			<li class="active"><a>{PAGE_NUMBER}</a></li>	
		<!-- ENDIF -->
       </ul>	
	</div>
</div>
	
 <div class="panel panel-forum">
   <div class="panel-heading">
	 <i class="fa fa-bolt"></i> {L_MODERATOR_LOGS}
	</div>
	<div class="panel-inner">
	<table class="footable table table-striped table-primary table-hover">
	<thead>
	<tr>
		<th data-class="expand">{L_MCP_DETAIL_U_IP}</th>
		<th data-hide="phone">{L_TIME}</th>
		<th data-hide="phone">{L_ACTION}</th>
		<!-- IF S_CLEAR_ALLOWED -->
		<th>{L_MARK}</th>
		<!-- ENDIF -->
	</tr>
	</thead>
		<tbody>
	<!-- IF S_LOGS -->
		<!-- BEGIN log -->
		<tr>
		 <td>{log.USERNAME} <br>{log.IP}</td>
		 <td>{log.DATE}</td>
		 <td>{log.ACTION}<br />
			{log.DATA}
		 </td>
		 <!-- IF S_CLEAR_ALLOWED -->
	     <td class="table-check"><div class="checker"><input type="checkbox" name="mark[]" id="{log.ID}" value="{log.ID}"><label for="{log.ID}"></label></div></td>
	    <!-- ENDIF -->
		</tr>
		<!-- END log -->
	<!-- ELSE -->
		<tr>
			<td colspan="<!-- IF S_CLEAR_ALLOWED -->5<!-- ELSE -->4<!-- ENDIF -->" >{L_NO_ENTRIES}</td>
		</tr>
	<!-- ENDIF -->
	</tbody>
	</table>
	</div>
</div>
	<!-- IF .log -->

<div class="row">
		
	<!-- IF S_CLEAR_ALLOWED -->
    <div class="col-md-4">
	<fieldset>
	<div class="btn-group">
	 <button class="btn btn-default" type="submit" name="action[del_all]" title="{L_DELETE_ALL}"><i class="fa fa-trash-o"></i></button>
	 <!-- IF not S_CLOSED -->
	 <button class="btn btn-default" type="submit" name="action[del_marked]" title="{L_DELETE_MARKED}"><i class="fa fa-times"></i></button>
	 <!-- ENDIF -->
	</div>
	
	<div class="btn-group">
	<a href="javascript:;" onclick="marklist('mcp', 'mark', true); return false;" class="btn btn-default" title="{L_MARK_ALL}"><i class="fa fa-check-square-o"></i></a>
	<a href="javascript:;" onclick="marklist('mcp', 'mark', false); return false;" class="btn btn-default" title="{L_UNMARK_ALL}"><i class="fa fa-square-o"></i></a>
	</div>
    </fieldset>
	</div>
	<!-- ENDIF -->
		
	<div class="col-md-8">
        <ul class="pagination pagination-sm pull-right">
		<li class="hidden-xs"><a title="" href="javascript:void(0);" data-target=".sorting" data-toggle="collapse">{L_OPTIONS}</a></li>
		 <li><a>{TOTAL}</a></li>
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			<li class="active"><a>{PAGE_NUMBER}</a></li>	
		<!-- ENDIF -->
       </ul>	
	</div>	
		
</div>

<div class="space10"></div>
		{S_FORM_TOKEN}
	<!-- INCLUDE display_options.html -->

	<!-- ELSE -->
		{S_FORM_TOKEN}
	<!-- ENDIF -->
</form>

<!-- INCLUDE mcp_footer.html -->