<!-- INCLUDE mcp_header.html -->
<script>
// <![CDATA[

	var ban_length = new Array();
		ban_length[-1] = '';
	var ban_reason = new Array();
		ban_reason[-1] = '';
	var ban_give_reason = new Array();
		ban_give_reason[-1] = '';

	<!-- BEGIN bans -->
		ban_length['{bans.BAN_ID}'] = '{bans.A_LENGTH}';
		<!-- IF bans.A_REASON -->
			ban_reason['{bans.BAN_ID}'] = '{bans.A_REASON}';
		<!-- ENDIF -->
		<!-- IF bans.A_GIVE_REASON -->
			ban_give_reason['{bans.BAN_ID}'] = '{bans.A_GIVE_REASON}';
		<!-- ENDIF -->
	<!-- END bans -->

	function display_details(option)
	{
		document.getElementById('unbanlength').innerHTML = ban_length[option];
		if (option in ban_reason) {
			document.getElementById('unbanreason').innerHTML = ban_reason[option];
		} else {
			document.getElementById('unbanreason').innerHTML = '';
		}
		if (option in ban_give_reason) {
			document.getElementById('unbangivereason').innerHTML = ban_give_reason[option];
		} else {
			document.getElementById('unbangivereason').innerHTML = '';
		}
	}

// ]]>
</script>

<div class="tab-pane active">
<form id="mcp_ban" method="post" action="{U_ACTION}">
<fieldset class="framed-ucp">
   <legend>{L_MCP_MANAG_BAN}</legend>
	  <p>{L_EXPLAIN}</p>
<!-- EVENT mcp_ban_fields_before -->
	<div class="control-group"> 
	    <label class="control-label" for="ban">{L_BAN_CELL}{L_COLON}</label><!-- IF S_USERNAME_BAN --><span class="help-block"><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></span><!-- ENDIF -->
	<div class="controls controls-row"> 
       <textarea placeholder="" rows="2" name="ban" id="ban" class="form-control">{BAN_QUANTIFIER}</textarea>
	</div> 
	</div>
	
    <div class="control-group"> 
	    <label class="control-label" for="banlength">{L_BAN_LENGTH}{L_COLON}</label>
	<div class="controls controls-row"> 
     <select class="selectpicker"  name="banlength" id="banlength" onchange="if(this.value==-1){document.getElementById('banlengthother').style.display = 'block';}else{document.getElementById('banlengthother').style.display='none';}">{S_BAN_END_OPTIONS}</select>
	<div id="banlengthother" style="display: none;">
	<label class="control-label">{L_YEAR_MONTH_DAY}</label>
	<input placeholder="2013-08-31" type="text" name="banlengthother" class="form-control" />
	</div>
	</div> 
	<div class="space10"></div>
	</div>
	
	<div class="control-group"> 
	    <label class="control-label" for="banreason">{L_BAN_REASON}{L_COLON}</label>
	<div class="controls controls-row"> 
       <input type="text" class="form-control" placeholder="{L_SPAMMER}" name="banreason" id="banreason" maxlength="255">
	</div> 
	</div>
	
	<div class="control-group"> 
	    <label class="control-label" for="bangivereason">{L_BAN_GIVE_REASON}{L_COLON}</label>
	<div class="controls controls-row"> 
       <input type="text" class="form-control" placeholder="{L_SPAMMER_PLACEHOLDER}" name="bangivereason" id="bangivereason" maxlength="255">
	</div> 
	</div>
	
	<div class="control-group"> 
	    <label class="control-label" for="banexclude0">{L_BAN_EXCLUDE}{L_COLON}</label><span class="help-block">{L_BAN_EXCLUDE_EXPLAIN}</span>
	<div class="controls controls-row"> 
       <div class="radio"><input type="radio" name="banexclude" id="banexclude1" value="1"><label for="banexclude1">{L_YES}</label></div>
	   <div class="radio"><input type="radio" checked="checked" name="banexclude" id="banexclude0" value="0"><label for="banexclude0">{L_NO}</label></div>
	</div> 
	</div>
<!-- EVENT mcp_ban_fields_after -->
</fieldset>

<div class="space10"></div>
<fieldset class="form-actions">
	{S_HIDDEN_FIELDS}
	<button type="reset" value="{L_RESET}" name="reset" class="btn btn-default">{L_RESET}</button>
	<button type="submit" name="bansubmit" value="{L_SUBMIT}" class="btn btn-default">{L_SUBMIT}</button>
	{S_FORM_TOKEN}
</fieldset>

<div class="space10"></div>
<div class="well">
	<h3>{L_UNBAN_TITLE}</h3>
	   <p>{L_UNBAN_EXPLAIN}</p>

<!-- IF S_BANNED_OPTIONS -->
	<fieldset>
	<!-- EVENT mcp_ban_unban_before -->
	<div class="control-group"> 
	    <label class="control-label" for="unban">{L_BAN_CELL}{L_COLON}</label>
	<div class="controls controls-row"> 
       <div class="selector"> <select class="selectpicker" data-container="body" multiple="" title="{L_MARK_PLACEHOLDER}" data-selected-text-format="count" name="unban[]" id="unban" onchange="if (this.selectedIndex != -1) {display_details(this.options[this.selectedIndex].value);}">{BANNED_OPTIONS}</select></div>
	</div> 
	</div>
		
	<div class="widget-ban list">
		<ul class="list-unstyled">
			<li>
				<span>{L_BAN_LENGTH}{L_COLON}</span>
				<span class="count" id="unbanlength"></span>
			</li>
			<li>
				<span>{L_BAN_REASON}{L_COLON}</span>
				<span class="count" id="unbanreason"></span>
			</li>
			<li>
				<span>{L_BAN_GIVE_REASON}{L_COLON}</span>
				<span class="count" id="unbangivereason"></span>
			</li>																							
		</ul>
	</div>
	<div class="control-group"></div>
	 <div class="space10"></div>
    <!-- EVENT mcp_ban_unban_after -->
	</fieldset>


	<fieldset class="form-actions">
		{S_HIDDEN_FIELDS}
		<button type="reset" value="{L_RESET}" name="reset" class="btn btn-default">{L_RESET}</button>
		<button type="submit" name="unbansubmit" value="{L_SUBMIT}" class="btn btn-default">{L_SUBMIT}</button>
		{S_FORM_TOKEN}
    </fieldset>

<!-- ELSE -->
    <p><strong>{L_NO_BAN_CELL}</strong></p>
<!-- ENDIF -->
</div>

</form>
</div>
<!-- INCLUDE mcp_footer.html -->