<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="designer" content="SiteSplat http://themeforest.net/user/themesplat/portfolio?ref=ThemeSplat">
    <meta content="{SITENAME}" property="og:site_name">
    <link rel="icon" href="https://scontent.xx.fbcdn.net/v/t1.0-9/19510372_151468628732671_6102367326441059934_n.jpg?oh=cfb122a581ade001cf518c3e1c1ee8c1&oe=59DECF5E">
    <!-- EVENT overall_header_meta -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    {META}
    <title>
        <!-- IF UNREAD_NOTIFICATIONS_COUNT -->&#40;{UNREAD_NOTIFICATIONS_COUNT}&#41;&nbsp;
        <!-- ENDIF -->
        <!-- IF S_IN_MCP -->{L_MCP}&nbsp;&#45;&nbsp;
        <!-- ELSEIF S_IN_UCP -->{L_UCP}&nbsp;&#45;&nbsp;
        <!-- ENDIF -->{SITENAME}&nbsp;&#45;&nbsp;{PAGE_TITLE}</title>
    <!-- IF S_ENABLE_FEEDS -->
    <!-- IF S_ENABLE_FEEDS_OVERALL -->

    <link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{{ path('phpbb_feed_index') }}">
    <!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_NEWS -->
    <link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{{ path('phpbb_feed_news') }}">
    <!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_FORUMS -->
    <link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{{ path('phpbb_feed_forums') }}">
    <!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_TOPICS -->
    <link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{{ path('phpbb_feed_topics') }}">
    <!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE -->
    <link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{{ path('phpbb_feed_topics_active') }}">
    <!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID -->
    <link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{{ path('phpbb_feed_forum', { forum_id : S_FORUM_ID } ) }}">
    <!-- ENDIF -->
    <!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID -->
    <link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{{ path('phpbb_feed_topic', { topic_id : S_TOPIC_ID } ) }}">
    <!-- ENDIF -->
    <!-- EVENT overall_header_feeds -->
    <!-- ENDIF -->
    <!-- IF U_CANONICAL -->
    <link rel="canonical" href="{U_CANONICAL}" />
    <!-- ENDIF -->
    <!-- Google free font here -->
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Asap:700' rel='stylesheet' type='text/css'>
    <!-- CSS files start here -->
    <link href="{T_THEME_PATH}/stylesheet.css" rel="stylesheet">
    <!-- IF S_PLUPLOAD -->
    <link href="{T_THEME_PATH}/plupload.css" rel="stylesheet">
    <!-- ENDIF -->
    <!-- EVENT overall_header_stylesheets_after -->
    {$STYLESHEETS}
    <!-- Remove the conditional below to use the custom CSS without FLATBOOTS Mini CMS Extension -->
    <!-- IF S_ALLOW_CUSTOMCSS -->
    <link href="{T_THEME_PATH}/custom.css" rel="stylesheet">
    <!-- ENDIF -->
    <!-- EVENT override_custom_css -->
    <!-- CSS files stop here -->
    <!-- EVENT overall_header_head_append -->
    <!-- magic dust -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.load.min.js"></script>
</head>

<body data-spy="scroll" data-target=".scrollspy" id="phpbb" class="section-{SCRIPT_NAME} {S_CONTENT_DIRECTION} {BODY_CLASS}">
    <!-- EVENT overall_header_body_before -->
    <header id="top" class="navbar navbar-inverse navbar-static-top flat-nav">
        <div class="container">
            <div class="navbar-header">
                <button data-target=".flat-nav-collapse" data-toggle="collapse" type="button" class="nav-tog lines-button x navbar-toggle neutro">
                    <span class="sr-only sr-nav">{L_TOGGLE_NAV}</span>
                    <span class="lines"></span>
                </button>
                <!-- IF LOGO_IMAGE_EXIST -->
                <a class="navbar-brand" href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->"><img style="max-height: 60px; max-width:100%; margin-top: -20px;" class="img-responsive" src="{T_IMAGES_PATH}../ext/sitesplat/flatbootsminicms/images/logo/{LOGO_FILENAME}" alt="{LOGO_TEXT}" /></a>
                <!-- ELSEIF LOGO_TEXT -->
                <a class="navbar-brand" href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->">{LOGO_TEXT}</a>
                <!-- ELSE -->
                <a class="navbar-brand" href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->">PopuBand Forum</a>
                <!-- ENDIF -->
            </div>
            <!-- IF FLATBOOTS_MINI_CMS_ENABLED -->
            <!-- EVENT flatboots_navigation_instead -->
            <!-- ELSE -->
            <!-- INCLUDE addons/navigation.html -->
            <!-- ENDIF -->
        </div>
    </header>
    <div class="search-input search-input-fullscreen hidden-xs">
        <form method="get" id="search" action="{U_SEARCH}">
            <fieldset>
                <input name="keywords" id="keywords" type="text" maxlength="128" title="{L_SEARCH_KEYWORDS}" placeholder="{L_SEARCH}" value="" autocomplete="off" />
                <div class="close">&times;</div>
                {S_SEARCH_HIDDEN_FIELDS}
            </fieldset>
        </form>
    </div>
    <!-- IF not HIDE_HEADER -->
    <!-- IF IN_BADGE -->
    <!-- INCLUDE @sitesplat_badge/header_badge_teaser.html -->
    <!-- ELSE -->
    <!-- INCLUDE addons/header_teaser_body.html -->
    <!-- ENDIF -->
    <!-- ELSE -->
    <div style="padding-top:30px;" class="space-teaser"></div>
    <!-- ENDIF -->
    <div class="container">
        <!-- start content -->
        <div id="content-forum">
            <!-- EVENT header_breadcrumb_before -->
            <div class="breadcrumb-line clearfix">
                <ul class="breadcrumb">
                    <!-- https://developers.google.com/structured-data/testing-tool/ -->
                    <!-- DEFINE $MICRODATA = ' itemtype="http://data-vocabulary.org/Breadcrumb" itemscope=""' -->
                    <!-- IF U_SITE_HOME -->
                    <li><a href="{U_SITE_HOME}"><span class="icon fa fa-home"></span></a></li>
                    <li {$MICRODATA}><a href="{U_SITE_HOME}" data-navbar-reference="home" itemprop="url"><span itemprop="title">{L_SITE_HOME}</span></a></li>
                    <!-- ELSE -->
                    <li><a href="{U_INDEX}"><span class="icon fa fa-home"></span></a></li>
                    <!-- EVENT overall_header_breadcrumbs_before -->
                    <li {$MICRODATA}><a href="{U_INDEX}" data-navbar-reference="index" itemprop="url"><span itemprop="title">{L_INDEX}</span></a></li>
                    <!-- EVENT overall_header_breadcrumbs_after -->
                    <!-- ENDIF -->
                    <!-- BEGIN navlinks -->
                    <li {$MICRODATA}><a itemprop="url" href="{navlinks.U_VIEW_FORUM}" <!-- IF navlinks.MICRODATA --> {navlinks.MICRODATA}<!-- ENDIF -->><span itemprop="title">{navlinks.FORUM_NAME}</span></a></li>
                    <!-- END navlinks -->
                </ul>
                <!-- IF S_USER_LOGGED_IN and (SCRIPT_NAME == "viewforum" or SCRIPT_NAME == "viewtopic") -->
                <ul class="breadcrumb-buttons visible-xxs">
                    <li>
                        <a href="#" title="" data-toggle="modal" data-target="#BreadcrumbMap">
                            <i class="icon fa fa-sitemap"></i>
                        </a>
                    </li>
                </ul>
                <!-- ENDIF -->
                <!-- EVENT overall_header_breadcrumbs_buttons -->
            </div>
            <!-- EVENT overall_header_page_body_before -->
            <div id="page-body">
                <!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
                <div class="alert alert-warning fade in">
                    <button data-dismiss="alert" class="close"><span class="awe-remove-circle"></span></button>
                    <i class="fa fa-info"></i>&nbsp;<strong>{L_INFORMATION}{L_COLON}</strong>&nbsp;{L_BOARD_DISABLED}
                </div>
                <!-- ENDIF -->
                <!-- EVENT overall_header_content_before -->
