<!-- INCLUDE ucp_header.html -->

<!-- IF S_DRAFT_LOADED -->
	<div class="well">
		<h3>{L_INFORMATION}</h3>
		<p>{L_DRAFT_LOADED_PM}</p>
	</div>
<!-- ENDIF -->

<!-- IF S_SHOW_DRAFTS --><!-- INCLUDE drafts.html --><!-- ENDIF -->
<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE posting_preview.html --><!-- ENDIF -->

<!-- <h2>{L_TITLE}</h2> -->
<fieldset class="framed-ucp">
	<legend>{L_TITLE}</legend>
		
	<div class="tab-content" id="postingbox">
	 <div class="compose-pm-box">
		<div id="pmheader-postingbox">
		 <!-- EVENT posting_pm_layout_include_pm_header_before -->
		 <!-- INCLUDE posting_pm_header.html -->
		 <!-- EVENT posting_pm_layout_include_pm_header_after -->
		</div>
		
	   <!-- DEFINE $EXTRA_POSTING_OPTIONS = 1 -->
	   <!-- INCLUDE posting_editor.html -->
	 </div>

	<!-- IF S_SHOW_ATTACH_BOX --><!-- INCLUDE posting_attach_body.html --><!-- ENDIF -->
	<!-- IF S_DISPLAY_REVIEW --><!-- INCLUDE posting_topic_review.html --><!-- ENDIF -->
	</div>

<!-- IF S_COMPOSE_PM -->
</div> <!-- // needed for posting_ediotor.html to close the tabbed panel line 106 -->
</div> <!-- // needed for posting_ediotor.html to close the tabbed panel line 108 -->
<!-- ENDIF -->	
	
</fieldset>
<!-- IF S_DISPLAY_HISTORY -->
 <div class="space10"></div>
   <div class="space10"></div>
   <!-- INCLUDE ucp_pm_history.html -->
<!-- ENDIF -->
<!-- INCLUDE ucp_footer.html -->