<!-- INCLUDE overall_header.html -->

<!-- IF TOPIC_TITLE -->
	<h2><!-- EVENT posting_topic_title_before --><a href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a><!-- EVENT posting_topic_title_after --></h2>
<!-- ELSE -->
	<h2><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h2>
 <!-- ENDIF -->

<!-- IF S_FORUM_RULES -->
		<div class="alert alert-info fade in">
		  <button class="close" data-dismiss="alert"><span class="awe-remove-circle"></span></button>
			<!-- IF U_FORUM_RULES --><a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a><!-- ELSE --><strong>{L_FORUM_RULES}{L_COLON}</strong>&nbsp;{FORUM_RULES}<!-- ENDIF -->
		</div>
<!-- ENDIF -->

<form id="postform" method="post" action="{S_POST_ACTION}"{S_FORM_ENCTYPE}>

<!-- IF S_DRAFT_LOADED -->
	<div class="well">
		<h3>{L_INFORMATION}</h3>
		<p>{L_DRAFT_LOADED}</p>
	</div>
<!-- ENDIF -->

<!-- IF S_SHOW_DRAFTS --><!-- INCLUDE drafts.html --><!-- ENDIF -->

<!-- IF S_POST_REVIEW --><!-- INCLUDE posting_review.html --><!-- ENDIF -->

<!-- IF S_UNGLOBALISE -->
 <div class="clearfix">
  <div class="well">
  <div class="side-segment"><h3>{L_SELECT_DESTINATION_FORUM}</h3></div>
   <fieldset>
	<div class="alert alert-info"><i class="fa fa-exclamation-circle"></i> {L_UNGLOBALISE_EXPLAIN}</div>
   <label class="control-label" for="to_forum_id">{L_MOVE}{L_COLON}</label>
       <div class="input-group col-md-4 col-sm-5">
	   <select data-container="body" data-width="100px" class="selectpicker input-group-btn" id="to_forum_id" name="to_forum_id">{S_FORUM_SELECT}</select>
		<span class="input-group-btn">
		<button class="btn btn-default" type="submit" name="post" value="{L_CONFIRM}">{L_CONFIRM}</button>
		<button class="btn btn-default" type="submit" name="cancel_unglobalise" value="{L_CANCEL}">{L_CANCEL}</button>
	    </span>
	   </div>
   </fieldset>
  </div>
 </div>
<!-- ENDIF -->

<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE posting_preview.html --><!-- ENDIF -->

<div class="clearfix" id="postingbox">
 <div class="well">
	 <div class="side-segment">
		<h3>{L_POST_A}</h3>
	 </div>
	
	<!-- DEFINE $EXTRA_POSTING_OPTIONS = 1 -->
	<!-- INCLUDE posting_editor.html -->
	 </div><!-- panel-body tab-pane posting_editor.html 139 -->
	{S_FORM_TOKEN}
	
      <!-- IF S_SHOW_ATTACH_BOX --><!-- INCLUDE posting_attach_body.html --><!-- ENDIF -->
	  <!-- EVENT posting_editor_imgur_before -->
      <!-- IF S_SHOW_POLL_BOX or S_POLL_DELETE --><!-- INCLUDE posting_poll_body.html --><!-- ENDIF -->
	  <!-- EVENT posting_layout_include_panel_body -->


    </div><!-- tab-content panel-content posting_editor.html 137 -->
   </div><!-- panel has-nav-tabs panel-default posting_editor.html 128 -->


 </div><!-- this is the div well at line 51 above -->
</div><!-- this is the div clearfix at line 50 above -->
</form>

    <!-- IF S_DISPLAY_REVIEW -->
    <div class="panel panel-default">
	  <div class="panel-body">
      <!-- INCLUDE posting_topic_review.html -->
	 </div>
	</div>
	<!-- ENDIF -->

<div class="space10"></div>

<!-- INCLUDE overall_footer.html -->
