<fieldset>
	<!-- IF ERROR -->
	<div class="space10"></div>
	 <div class="space10"></div>
	<div class="alert alert-info fade in">
       {ERROR}
    </div>
	<!-- ENDIF -->

	<!-- IF S_SHOW_TOPIC_ICONS or S_SHOW_PM_ICONS -->
	<div class="hidden-xs">
	 <div class="control-group"> 
	   <label class="control-label" for="icon">{L_ICON}{L_COLON}</label>
	 <div class="controls controls-row"> 
      <div class="radio"><input type="radio" name="icon" id="icon" value="0" checked="checked" tabindex="1"><label for="icon"><!-- IF S_SHOW_TOPIC_ICONS -->{L_NO_TOPIC_ICON}<!-- ELSE -->{L_NO_PM_ICON}<!-- ENDIF --></label></div>
     <!-- BEGIN topic_icon --><div class="radio"><input type="radio" name="icon" id="icon-{topic_icon.ICON_ID}" value="{topic_icon.ICON_ID}" {topic_icon.S_ICON_CHECKED} tabindex="1"><label for="icon-{topic_icon.ICON_ID}"><img src="{topic_icon.ICON_IMG}" width="{topic_icon.ICON_WIDTH}" height="{topic_icon.ICON_HEIGHT}" alt="" title="{topic_icon.ICON_NAME}" /></label></div><!-- END topic_icon -->
	 </div> 
	 </div>
	</div>
	<!-- ENDIF -->

	<!-- IF not S_PRIVMSGS and S_DISPLAY_USERNAME -->
	<div class="control-group"> 
	   <label class="control-label" for="username">{L_USERNAME}{L_COLON}</label>
	<div class="controls controls-row"> 
	<div class="input-icon left">
	  <i class="fa fa-user"></i>
       <input type="text" class="form-control input-sm" placeholder="" tabindex="1" name="username" id="username" value="{USERNAME}">
	 </div> 
	</div> 
	</div>
	<!-- ENDIF -->

    <!-- EVENT posting_editor_subject_before -->

	<!-- IF S_POST_ACTION or S_PRIVMSGS or S_EDIT_DRAFT -->
	<div class="control-group"> 
	<label class="control-label" for="subject">{L_SUBJECT}{L_COLON}</label>
	<div class="row">
	 <div class="<!-- IF S_EDIT_DRAFT -->col-md-12<!-- ELSE -->col-xs-12 col-lg-8<!-- ENDIF -->">
     <!-- EVENT posting_editor_subject_prefix -->  
	   <input type="text" class="form-control input-sm" placeholder="{L_SUBJECT}{L_COLON}" name="subject" id="subject" maxlength="<!-- IF S_NEW_MESSAGE -->100<!-- ELSE -->124<!-- ENDIF -->" tabindex="2" value="{SUBJECT}{DRAFT_SUBJECT}">
	 <!-- EVENT posting_editor_subject_postfix -->
	 </div> 
	 </div> 
	 </div>
	 <!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
		<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
		<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
	 <!-- ENDIF -->
	<!-- ENDIF -->

    <!-- EVENT posting_editor_subject_after -->
	
	 <!-- INCLUDE posting_buttons.html -->

	 <div class="space10"></div>

 <div class="row">
	<!-- EVENT posting_editor_message_before -->
    <div class="<!-- IF S_EDIT_DRAFT -->col-md-12<!-- ELSE -->col-md-8<!-- ENDIF -->"> 
      <span id="dragNdrop">
	   <textarea class="form-control" rows="10" <!-- IF S_UCP_ACTION and not S_PRIVMSGS and not S_EDIT_DRAFT -->name="signature" id="signature" <!-- ELSE -->name="message" id="message"<!-- ENDIF --> tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" placeholder="">{MESSAGE}{DRAFT_MESSAGE}{IMGUR_IMAGE}{GYAZO_IMAGE}{SIGNATURE}</textarea>
	  </span> 
	</div>
	<!-- EVENT posting_editor_message_after -->

	<div class="col-md-4">
    <!-- EVENT posting_editor_smilies_before -->	
		
		<!-- IF S_SMILIES_ALLOWED and .smiley -->
		<strong>{L_SMILIES}
		  <!-- IF S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED -->
			<a class="btn-link btn-xs" href="{U_MORE_SMILIES}" onclick="popup(this.href, 450, 350, '_phpbbsmilies'); return false;" title="{L_MORE_SMILIES}"><i class="fa fa-plus"></i></a>
		  <!-- ENDIF -->
		</strong><br />
			<!-- BEGIN smiley -->
				<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
			<!-- END smiley -->
		<!-- ENDIF -->
		
	<div class="hidden-xs">	
    <!-- EVENT posting_editor_smilies_after -->
		<!-- IF BBCODE_STATUS -->
		<!-- IF .smiley --><hr /><!-- ENDIF -->
		{BBCODE_STATUS}<br />
		<!-- IF S_BBCODE_ALLOWED -->
			{IMG_STATUS}<br />
			{FLASH_STATUS}<br />
			{URL_STATUS}<br />
		<!-- ENDIF -->
		{SMILIES_STATUS}
		<!-- ENDIF -->
		<!-- IF S_EDIT_DRAFT || S_DISPLAY_REVIEW -->
			<!-- IF S_DISPLAY_REVIEW --><hr /><!-- ENDIF -->
			<!-- IF S_EDIT_DRAFT --><strong><a href="{S_UCP_ACTION}">{L_BACK_TO_DRAFTS}</a></strong><!-- ENDIF -->
			<!-- IF S_DISPLAY_REVIEW --><strong><a href="#topic-review">{L_TOPIC_REVIEW}</a></strong><!-- ENDIF -->
		<!-- ENDIF -->
	 </div>
	</div>
 </div>
</fieldset>

<!-- IF $EXTRA_POSTING_OPTIONS eq 1 -->

<!-- IF S_COMPOSE_PM -->
</div> <!-- // needed for posting_pm_layout.html to close the tabbed panel -->
<!-- ENDIF -->	

<div class="space10"></div>

	<!-- IF not S_SHOW_DRAFTS and not $SIG_EDIT eq 1 -->
		<fieldset class="form-actions">
			{S_HIDDEN_ADDRESS_FIELD}
			{S_HIDDEN_FIELDS}
			<!-- EVENT posting_editor_submit_buttons -->
			<!-- IF S_HAS_DRAFTS --><button type="submit" class="btn btn-default" data-loading-text="{L_LOADING}&nbsp;<i class='fa fa-spin fa-spinner fa-lg icon-white'></i>" accesskey="d" tabindex="8" name="load" value="{L_LOAD_DRAFT}" onclick="load_draft = true;"><span class="hidden-xs">{L_LOAD_DRAFT}</span><i class="visible-xs fa fa-upload fa-btn-fx"></i></button><!-- ENDIF -->
			<!-- IF S_SAVE_ALLOWED --><button type="submit" class="btn btn-default" data-loading-text="{L_SAVING}&nbsp;<i class='fa fa-spin fa-spinner fa-lg icon-white'></i>" accesskey="k" tabindex="7" name="save" value="{L_SAVE_DRAFT}"><span class="hidden-xs">{L_SAVE_DRAFT}</span><i class="visible-xs fa fa-floppy-o fa-btn-fx"></i></button><!-- ENDIF -->
			<button type="submit" class="btn btn-default" data-loading-text="{L_LOADING}&nbsp;<i class='fa fa-spin fa-spinner fa-lg icon-white'></i>" tabindex="5" name="preview" value="{L_PREVIEW}"<!-- IF not S_PRIVMSGS --> onclick="document.getElementById('postform').action += '#preview';"<!-- ENDIF --> >{L_PREVIEW}</button>
			<button type="submit" class="btn btn-default" data-loading-text="{L_LOADING}&nbsp;<i class='fa fa-spin fa-spinner fa-lg icon-white'></i>" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}">{L_SUBMIT}</button>
		</fieldset>
	<!-- ENDIF -->
	
<div class="space10"></div>

<!-- IF S_SHOW_ATTACH_BOX -->
<script>
function addClass(e,s){e.classList?e.classList.add(s):e.className+=" "+s}function removeClass(e,s){e.classList?e.classList.remove(s):e.className=e.className.replace(new RegExp("(^|\\b)"+s.split(" ").join("|")+"(\\b|$)","gi")," ")}function txtDropClicked(){removeClassesOnFocus(!1),addClass(document.getElementById("message"),"dropzone-wrap"),addClass(document.getElementById("dragNdrop"),"dropzone-content")}function removeClassesOnFocus(e){var s=e===!1?document.getElementById("message"):e.target;removeClass(s,"dropzone-wrap"),removeClass(s.parentNode,"dropzone-content")}window.addEventListener("load",function(){document.getElementById("ToggleTxTDrop").addEventListener("click",txtDropClicked),document.getElementById("message").addEventListener("focus",removeClassesOnFocus)});
</script>
<!-- ENDIF -->

    <!-- // panel has-nav-tabs no-border with tab start tag here posting_layout.html -->
    <!-- // we also need to hide the tabbed panel if in drafts and the PM attach option is disabled -->
	<div<!-- IF S_SHOW_DRAFTS and not S_SHOW_ATTACH_BOX --> style="display:none;"<!-- ENDIF --> class="panel has-nav-tabs panel-default">
			<ul class="nav nav-tabs">	
				<li <!-- IF S_SHOW_DRAFTS -->style="display:none;"<!-- ENDIF --> class="<!-- IF IMGUR_DELETEHASH or GYAZO_DIRECT_LINK --><!-- ELSE -->active<!-- ENDIF -->"><a data-toggle="tab" href="#options-panel-below"><span>{L_OPTIONS}</span></a></li>
				<!-- IF S_SHOW_ATTACH_BOX --><li class="<!-- IF S_SHOW_DRAFTS -->active<!-- ENDIF -->"><a data-toggle="tab" href="#posting-attach-body-html" id="ToggleTxTDrop"><span>{L_ADD_ATTACHMENT}</span></a></li><!-- ENDIF -->
				<!-- IF SCRIPT_NAME == "posting" and IN_IMGUR --><li class="<!-- IF IMGUR_DELETEHASH -->active<!-- ENDIF -->"><a data-toggle="tab" href="#posting-imgur-html"><span>{L_IMGUR_UPLOAD_TITLE}</span></a></li><!-- ELSE --><!-- ENDIF -->
				<!-- IF SCRIPT_NAME == "posting" and IN_GYAZO --><li class="<!-- IF GYAZO_DIRECT_LINK -->active<!-- ENDIF -->"><a data-toggle="tab" href="#posting-gyazo-html"><span>{L_GYAZO_UPLOAD_TITLE}</span></a></li><!-- ELSE --><!-- ENDIF -->
				<!-- IF S_SHOW_POLL_BOX || S_POLL_DELETE --><li class=""><a data-toggle="tab" href="#posting-poll-html"><span>{L_ADD_POLL}</span></a></li><!-- ENDIF -->
			<!-- EVENT posting_editor_add_panel_tab -->
			</ul>
	
    <div class="tab-content panel-content">
	   
		<div class="panel-body tab-pane<!-- IF IMGUR_DELETEHASH or GYAZO_DIRECT_LINK --><!-- ELSE --> active<!-- ENDIF -->" id="options-panel-below">
		
		<!-- IF not S_SHOW_DRAFTS and not $SIG_EDIT eq 1 -->
		<fieldset>
		<!-- EVENT posting_editor_options_prepend -->
			<!-- IF S_BBCODE_ALLOWED -->
			 <input type="checkbox" name="disable_bbcode" id="disable_bbcode"{S_BBCODE_CHECKED}><label class="check-control" for="disable_bbcode">{L_DISABLE_BBCODE}</label>
			<!-- ENDIF -->
			<!-- IF S_SMILIES_ALLOWED -->
			 <input type="checkbox" name="disable_smilies" id="disable_smilies"{S_SMILIES_CHECKED}><label class="check-control" for="disable_smilies">{L_DISABLE_SMILIES}</label>
			<!-- ENDIF -->
			<!-- IF S_LINKS_ALLOWED -->
			 <input type="checkbox" name="disable_magic_url" id="disable_magic_url"{S_MAGIC_URL_CHECKED}><label class="check-control" for="disable_magic_url">{L_DISABLE_MAGIC_URL}</label>
			<!-- ENDIF -->
			<!-- IF S_SIG_ALLOWED -->
			 <input type="checkbox" name="attach_sig" id="attach_sig"{S_SIGNATURE_CHECKED}><label class="check-control" for="attach_sig">{L_ATTACH_SIG}</label>
			<!-- ENDIF -->
			<!-- IF S_NOTIFY_ALLOWED -->
			 <input type="checkbox" name="notify" id="notify"{S_NOTIFY_CHECKED}><label class="check-control" for="notify">{L_NOTIFY_REPLY}</label>
			<!-- ENDIF -->
			<!-- IF S_LOCK_TOPIC_ALLOWED -->
			 <input type="checkbox" name="lock_topic" id="lock_topic"{S_LOCK_TOPIC_CHECKED}><label class="check-control" for="lock_topic">{L_LOCK_TOPIC}</label>
			<!-- ENDIF -->
			<!-- IF S_LOCK_POST_ALLOWED -->
			 <input type="checkbox" name="lock_post" id="lock_post"{S_LOCK_POST_CHECKED}><label class="check-control" for="lock_post">{L_LOCK_POST}&nbsp;&#91;{L_LOCK_POST_EXPLAIN}&#93;</label>
			<!-- ENDIF -->
			<!-- IF S_TYPE_TOGGLE or S_TOPIC_TYPE_ANNOUNCE or S_TOPIC_TYPE_STICKY -->
			<hr class="dashed" />
			<!-- ENDIF -->
			<!-- IF S_SOFTDELETE_ALLOWED or S_DELETE_ALLOWED -->
			 <input type="checkbox" name="delete" id="delete" {S_SOFTDELETE_CHECKED}><label class="check-control" for="delete">{L_DELETE_POST_SOFT}&nbsp;&#91;{L_DELETE_POST_SOFT_WARN}&#93;</label>
			 <input type="checkbox" name="delete_permanent" id="delete_permanent"><label class="check-control" for="delete_permanent">{L_DELETE_POST_PERMANENT}&nbsp;&#91;{L_DELETE_POST_PERMANENT_WARN}&#93;</label>	
			<hr class="dashed" />
			<!-- ENDIF -->
			
			<!-- IF S_TYPE_TOGGLE -->
		    <div class="control-group"> 
	         <label class="control-label" for="topic_type-0"><!-- IF S_EDIT_POST -->{L_CHANGE_TOPIC_TO}<!-- ELSE -->{L_POST_TOPIC_AS}<!-- ENDIF -->:</label>
	         <div class="controls controls-row"> 
             <!-- BEGIN topic_type -->
			  <input type="radio" name="topic_type" id="topic_type-{topic_type.VALUE}" value="{topic_type.VALUE}"{topic_type.S_CHECKED}><label class="radio-inline" for="topic_type-{topic_type.VALUE}">{topic_type.L_TOPIC_TYPE}</label>
			 <!-- END topic_type -->
	         </div> 
			 <div class="space10"></div>
	        </div>
			<!-- ENDIF -->

			<!-- IF S_TOPIC_TYPE_ANNOUNCE or S_TOPIC_TYPE_STICKY -->
			<div class="control-group"> 
	         <label class="control-label" for="topic_time_limit">{L_STICK_TOPIC_FOR}{L_COLON}</label><span class="help-block">{L_STICK_TOPIC_FOR_EXPLAIN}</span>
			<div class="input-group col-xs-8 col-sm-2 col-md-2">
		       <input type="number" class="form-control input-sm" min="0" max="999" name="topic_time_limit" id="topic_time_limit" value="{TOPIC_TIME_LIMIT}">
		      <span class="input-group-addon">{L_DAYS}</span>
	         </div>
			 <div class="space10"></div>
	       </div>
			<!-- ENDIF -->
			
			<!-- IF S_EDIT_REASON -->
			<div class="control-group"> 
	         <label class="control-label" for="edit_reason">{L_EDIT_REASON}{L_COLON}</label>
	        <div class="row"> 
			<div class="col-xs-8 col-sm-5 col-md-5"> 
             <input type="text" class="form-control input-sm" placeholder="{L_EDIT_LINK_PLACEHOLDER}" name="edit_reason" id="edit_reason" value="{EDIT_REASON}">
	        </div>
			</div>
			</div>
			<!-- ENDIF -->
		 <!-- EVENT posting_editor_options_append -->	
		</fieldset>
		<!-- ENDIF -->

<!-- ENDIF -->