<div class="well well-sm" id="preview">
<!-- IF S_HAS_POLL_OPTIONS -->
	<div class="content">
		<h2>{L_PREVIEW}{L_COLON}&nbsp;{POLL_QUESTION}</h2>
		<p><!-- IF L_POLL_LENGTH -->{L_POLL_LENGTH}<br /><!-- ENDIF -->{L_MAX_VOTES}</p>
		<fieldset>
		<!-- BEGIN poll_option -->
			<!-- IF S_IS_MULTI_CHOICE --><input type="checkbox" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> ><label for="vote_{poll_option.POLL_OPTION_ID}">{poll_option.POLL_OPTION_CAPTION}</label><!-- ELSE --><input type="radio" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> ><label for="vote_{poll_option.POLL_OPTION_ID}">{poll_option.POLL_OPTION_CAPTION}</label><!-- ENDIF -->
		<!-- END poll_option -->
		</fieldset>
	</div>
</div>

<div class="well well-sm">
<!-- ENDIF -->
    <!-- EVENT posting_preview_poll_after -->
		<h3>{L_PREVIEW}{L_COLON}&nbsp;{PREVIEW_SUBJECT}</h3>
		<div class="content">{PREVIEW_MESSAGE}</div>
		<!-- IF .attachment -->
		<div class="attachbox">
			<h5>{L_ATTACHMENTS}</h5>
		   <!-- BEGIN attachment -->{attachment.DISPLAY_ATTACHMENT}<!-- END attachment -->
		</div>
		<!-- ENDIF -->
		<!-- IF PREVIEW_SIGNATURE -->
		<p class="separator text-center hidden-xs"><i class="fa fa-ellipsis-h fa-2x"></i></p>
		<div class="hidden-xs post-signature">{PREVIEW_SIGNATURE}</div>
		<!-- ENDIF -->
</div>


