<!-- INCLUDE overall_header.html -->
<script>
/* Change language */
	function change_language(lang_iso)
	{
		document.cookie = '{COOKIE_NAME}_lang=' + lang_iso + '; path={COOKIE_PATH}';
		document.forms['register'].change_lang.value = lang_iso;
		document.forms['register'].submit.click();
	}
</script>
<!-- EVENT ucp_register_options_before -->
<div class="side-segment"><h3>{SITENAME}&nbsp;&#45;&nbsp;{L_REGISTRATION}</h3></div>
<form id="register" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
<fieldset>
<div class="well panel-w-form">
	<!-- IF ERROR -->
	 <div class="alert alert-info">{ERROR}</div>
	<!-- ENDIF -->
	
	<!-- IF L_REG_COND -->
	 <p>{L_REG_COND}</p>
	<!-- ENDIF -->
    
<div class="row">
<!-- EVENT ucp_register_credentials_before -->
   <div class="col-md-6">
	<div class="form-group">
		<label for="username" class="control-label">{L_USERNAME}{L_COLON}</label><span class="help-block">{L_USERNAME_EXPLAIN}</span>
		<div class="form-icon">
			<input class="form-control input-lg" type="text" name="username" id="username" size="25" value="{USERNAME}" title="{L_USERNAME}" placeholder="{L_UCP_REG_USR_PLACEHOLDER}"/>
		    <span class="fa fa-user login-form-icon"></span>
		 </div> 
		<div class="control-group"></div>
	</div>
   </div>
 
   <div class="col-md-6">
	<div class="form-group">
		<label class="control-label" for="email">{L_EMAIL_ADDRESS}{L_COLON}</label><span class="help-block">{L_UCP_REGISTER_EMAIL_EXPLAIN}</span>
          <div class="form-icon">
		    <input class="form-control input-lg" type="text" name="email" id="email" size="25" maxlength="100" value="{EMAIL}" placeholder="{L_UCP_REG_EMAIL_PLACEHOLDER}" autocomplete="off"/>
		    <span class="icon-moon-email login-form-icon"></span>
		  </div>
		  <div class="control-group"></div>
	</div> 
   </div> 
</div>

<div class="row">   
   <div class="col-md-6">
	<div class="form-group">
		<label class="control-label" for="new_password">{L_PASSWORD}{L_COLON}</label><span class="help-block">{L_PASSWORD_EXPLAIN}</span>
          <div class="form-icon">
		    <input class="form-control input-lg" type="password" name="new_password" id="new_password" size="25" value="{PASSWORD}" placeholder="{L_UCP_REG_PSWD_PLACEHOLDER}" autocomplete="off"/>
		  <span class="fa fa-key login-form-icon"></span>
		  </div>
		  <div class="control-group"></div>
	</div> 
   </div>
   
   <div class="col-md-6">
	<div class="form-group">
		<label class="control-label" for="password_confirm">{L_CONFIRM_PASSWORD}{L_COLON}</label><span class="help-block">{L_PASSWORD_EXPLAIN_CONFIRM}</span>
          <div class="form-icon">
		    <input class="form-control input-lg" type="password" name="password_confirm" id="password_confirm" size="25" value="{PASSWORD_CONFIRM}" placeholder="{L_UCP_REG_PSWD_PLACEHOLDER}" autocomplete="off"/>
		   <span class="fa fa-key login-form-icon"></span>
		  </div>
		  <div class="control-group"></div>
	</div> 
   </div>
   <!-- EVENT ucp_register_credentials_after -->
</div>

<div class="row">
  <div class="col-md-6">
	<div class="form-group"> 
	<div class="control-group">
	   <label class="control-label" for="lang">{L_LANGUAGE}{L_COLON}</label>
       <div>
	    <select class="selectpicker" data-container="body" name="lang" id="lang" onchange="change_language(this.value); return false;" tabindex="6" title="{L_LANGUAGE}">{S_LANG_OPTIONS}</select>
	</div> 
	</div>
	</div>
  </div>

  <div class="col-md-6">
    <!-- /* from timezone_option.html */ -->	
	<div class="control-group"> 
		<label class="control-label" for="timezone">{L_BOARD_TIMEZONE}{L_COLON}</label>
		<div class="controls controls-row"> 
		<select class="tz_select selectpicker" data-container="body" data-width="auto" name="tz" id="timezone">
			<option value="">{L_SELECT_TIMEZONE}</option>
		<!-- BEGIN timezone_select -->
			<optgroup label="{timezone_select.LABEL}" data-tz-value="{timezone_select.VALUE}">
				<!-- BEGIN timezone_options -->
				<option title="{timezone_select.timezone_options.TITLE}" value="{timezone_select.timezone_options.VALUE}"<!-- IF timezone_select.timezone_options.SELECTED --> selected="selected"<!-- ENDIF -->>{timezone_select.timezone_options.LABEL}</option>
				<!-- END timezone_options -->
			</optgroup>
		<!-- END timezone_select -->
		</select>
		</div>
	</div>
	<!-- /* from timezone_option.html */ -->
   </div>
</div>
	
	
<!-- EVENT ucp_register_profile_fields_before -->
	<!-- IF .profile_fields -->
		<strong>{L_ITEMS_REQUIRED}</strong>
	<!-- BEGIN profile_fields -->
	<div class="control-group"> 
	  <!-- IF profile_fields.ERROR --><span class="error">{profile_fields.ERROR}</span><!-- ENDIF -->
		<label class="control-label"<!-- IF profile_fields.FIELD_ID --> for="{profile_fields.FIELD_ID}"<!-- ENDIF -->>{profile_fields.LANG_NAME}{L_COLON}<!-- IF profile_fields.S_REQUIRED -->&nbsp;&#42;<!-- ENDIF --></label><!-- IF profile_fields.LANG_EXPLAIN --><span class="help-block">{profile_fields.LANG_EXPLAIN}</span><!-- ENDIF -->
		  {profile_fields.FIELD}
	</div> 	
	<!-- END profile_fields -->
	<!-- ENDIF -->
	
<!-- EVENT ucp_register_profile_fields_after -->  	
</div>
</fieldset>

<!-- IF CAPTCHA_TEMPLATE -->
	<!-- DEFINE $CAPTCHA_TAB_INDEX = 8 -->
	<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
<!-- ENDIF -->

<!-- IF S_COPPA -->
	<div class="alert alert-info fade in">
		<button class="close" data-dismiss="alert"><span class="awe-remove-circle"></span></button>
		<strong>{L_COPPA_COMPLIANCE}</strong> <br>{L_COPPA_EXPLAIN}
	</div>
<!-- ENDIF -->

<!-- EVENT ucp_register_buttons_before -->

	<fieldset class="form-actions">
		{S_HIDDEN_FIELDS}
		<button type="reset" value="{L_RESET}" name="reset" class="btn btn-default">{L_RESET}</button>
		<button type="submit" class="btn btn-default" tabindex="9" name="submit" id="submit" value="{L_SUBMIT}" data-loading-text="{L_REG_CREATING} <i class='fa fa-spin fa-spinner fa-lg icon-white'></i>">{L_SUBMIT}</button>
		{S_FORM_TOKEN}
	</fieldset>
</form>

<!-- INCLUDE overall_footer.html -->