<!-- INCLUDE overall_header.html -->
<div class="side-segment"><h3>{SITENAME}&nbsp;&#45;&nbsp;<small>{L_LOGIN_LINK}</small></h3></div>

   <div class="alert alert-warning fade in">
	 <i class="fa fa-exclamation-triangle"></i>&nbsp;<strong>{L_LOGIN_LINK_EXPLAIN}</strong>
	</div>

<!-- IF LOGIN_LINK_ERROR -->
<div class="alert alert-warning fade in">
 <i class="fa fa-info"></i>&nbsp;<strong>{LOGIN_LINK_ERROR}</strong>
</div>
<!-- ENDIF -->

<div class="panel-login panel-w-form login-full">
            <div class="row">
                <!-- IF S_REGISTER_ENABLED -->
				<div class="col-sm-6">
				<div class="signin-text">
					<span>{L_CREATE_ACCOUNT}</span>
				</div>
                    <p>{L_LOGIN_INFO}</p>
				    <p><a href="{U_TERMS_USE}">{L_TERMS_USE}</a>&nbsp;&#124;&nbsp;<a href="{U_PRIVACY}">{L_PRIVACY}</a></p>
					<p><a href="{U_REGISTER}" class="btn btn-default btn-reg-login">{L_REGISTER}</a></p>
                </div>
				<!-- ELSE -->
				<div class="col-sm-6">
				<div class="signin-text">
					<span>{L_CREATE_ACCOUNT_DISABLED}</span>
				</div>
                    <p>{L_REGISTRATION_DISABLED}</p>
				    <p><a href="{U_TERMS_USE}">{L_TERMS_USE}</a>&nbsp;&#124;&nbsp;<a href="{U_PRIVACY}">{L_PRIVACY}</a></p>
					<p><a href="mailto:{BOARD_EMAIL}?subject=Registrations%20Closed&body=Dear%20Admin,%20%0A%0AI%20Just%20wanted%20to%20let%20you%20know%20that%20the%20board%20registrations%20are%20closed.%20%0A%0AThis%20might%20be%20an%20error%20and%20I%20would%20like%20to%20register.%20%0A%0APlease%20let%20me%20know%20if%20this%20is%20possible.%0A%0AThanks!" class="btn btn-default">{L_CONTACT_WEBMASTER}</a></p>
                </div>
				<!-- ENDIF -->
				<div class="col-sm-6">
				<div class="signin-text">
					<span>{L_SIGN_IN_ACCOUNT}</span>
				</div>
				 <form action="{LOGIN_ACTION}" method="post" id="login">
				  <fieldset>
					<div class="form-group">
					<label class="sr-only" for="{USERNAME_CREDENTIAL}">{L_USERNAME}{L_COLON}</label>
					<div class="form-icon">
					 <input type="text" tabindex="2" name="{USERNAME_CREDENTIAL}" id="{USERNAME_CREDENTIAL}" value="{LOGIN_USERNAME}" class="form-control input-lg" placeholder="{L_USERNAME}">
					 <span class="fa fa-user login-form-icon"></span>
					</div> 
				    </div> 
					<div class="form-group">
					 <label class="sr-only" for="{PASSWORD_CREDENTIAL}">{L_PASSWORD}{L_COLON}</label>
					  <div class="form-icon">
						<input type="password" tabindex="3" id="{PASSWORD_CREDENTIAL}" name="{PASSWORD_CREDENTIAL}" class="form-control input-lg" placeholder="{L_PASSWORD}" autocomplete="off">
						<span class="fa fa-lock login-form-icon"></span>
					  </div> 
					</div>
				
					<button type="submit" class="btn btn btn-primary" tabindex="5" name="login" value="{L_LOGIN}" data-loading-text="{L_LOADING_LOG_IN} <i class='fa-spin fa fa-spinner fa-lg'></i>">{L_LOGIN_ME_IN}</button>
					<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
						<div class="space10"></div>
						<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
						<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
					<!-- ENDIF -->
					
				  {S_LOGIN_REDIRECT}
					{S_HIDDEN_FIELDS}
				  </fieldset>
				  </form>
			    </div>  
            </div>
    </div>
<!-- INCLUDE overall_footer.html -->
