<!-- INCLUDE ucp_header.html -->
<div class="tab-pane active">
<form id="postform" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
<fieldset class="framed-ucp">
  <legend>{L_TITLE}</legend>
	<p>{L_DRAFTS_EXPLAIN}</p>
<!-- IF S_EDIT_DRAFT -->
     <div class="clearfix">
		  <!-- INCLUDE posting_editor.html -->
	 </div>

<div class="space10"></div>	

	<fieldset class="form-actions">
		{S_HIDDEN_FIELDS}
		 <button type="reset" value="{L_RESET}" name="reset" class="btn btn-default">{L_RESET}</button>
		 <button type="submit" name="submit" value="{L_SAVE}" class="btn btn-default">{L_SAVE}</button>
		{S_FORM_TOKEN}
	</fieldset>
	
<!-- ELSE -->

	<!-- IF .draftrow -->
	<div class="panel panel-forum">
	<div class="panel-heading">
	 <i class="fa fa-edit"></i>&nbsp;{L_DRAFTS}
	</div>
	<div class="panel-inner">
	<table class="footable table table-striped table-primary table-hover">
	<thead>
		<tr>
			<th data-class="expand">{L_DRAFT_TITLE}</th>
			<th class="large26" data-hide="phone">{L_SAVE_DATE}</th>
			<th class="table-check">{L_MARK}</th>
		</tr> 
	</thead>
	<tbody>
		<!-- BEGIN draftrow -->
	    <tr>
			<td>
			<a class="topictitle" href="{draftrow.U_VIEW_EDIT}">{draftrow.DRAFT_SUBJECT}</a><br />
			<!-- IF draftrow.S_LINK_TOPIC -->{L_TOPIC}{L_COLON}&nbsp;<a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
			<!-- ELSEIF draftrow.S_LINK_FORUM -->{L_FORUM}{L_COLON}&nbsp;<a href="{draftrow.U_VIEW}">{draftrow.TITLE}</a>
			<!-- ELSEIF S_PRIVMSGS -->
			<!-- ELSE -->{L_NO_TOPIC_FORUM}<!-- ENDIF -->
			</td>
			<td>
			{draftrow.DATE}<br />
			<!-- IF draftrow.U_INSERT --><a href="{draftrow.U_INSERT}">{L_LOAD_DRAFT}</a>&nbsp;&#8211;&nbsp;<!-- ENDIF --><a href="{draftrow.U_VIEW_EDIT}">{L_VIEW_EDIT}</a>
			</td>
			<td class="table-check"><div class="checker"><input type="checkbox" name="d[{draftrow.DRAFT_ID}]" id="d{draftrow.DRAFT_ID}"><label for="d{draftrow.DRAFT_ID}"></label></div></td>
	    </tr>
		<!-- END draftrow -->
		</tbody>
		</table>
	 </div>
	</div>
	<!-- ELSE -->
	<div class="alert alert-info fade in">
        <button data-dismiss="alert" class="close" type="button" aria-hidden="true"><i class="awe-remove-circle"></i></button>
        <i class="fa fa-warning"></i><strong>&nbsp;{L_INFO_BOX}</strong>&nbsp;{L_NO_SAVED_DRAFTS}
    </div> 
	<!-- ENDIF -->


            <div class="pull-left">
                <div class="btn-group">
				    <!-- IF .draftrow -->
                    <div class="dropdown">
                        <button data-toggle="dropdown" class="btn btn-default"><i class="fa fa-check-square-o"></i>&nbsp;<span class="caret"></span></button>
						 <ul class="dropdown-menu">
                            <li><a href="#" onclick="marklist('postform', '', true); return false;" title=""><i class="fa fa-check-square-o"></i>{L_MARK_ALL}</a></li>
                            <li><a href="#" onclick="marklist('postform', '', false); return false;" title=""><i class="fa fa-square-o"></i>{L_UNMARK_ALL}</a></li>
                          </ul> 
				       <button class="btn btn-default" type="submit" name="delete" title="{L_DELETE_MARKED}"><i class="fa fa-trash-o"></i></button>
				   </div> 
                        {S_FORM_TOKEN}
                    <!-- ENDIF -->		  
		        </div> 
           </div>
<!-- ENDIF -->
</fieldset>
</form>
</div>
<!-- INCLUDE ucp_footer.html -->