<!-- Recent Lazy Topics Loader Section -->
<div class="row text-center">
    <div class="col-md-3">
        <div class="panel panel-post">
            <div class="blog-meta">
                <time datetime="2017-01-06T10:45:28+00:00" class="entry-date">
                    <span class="day">6</span>
                    <span class="month">Jan</span>
                </time>
            </div>
            <div class="title">
                <header class="entry-header">
                    <h6 class="inverse-font">The Populele taught me how to play ukulele in 15 minutes</h6>
                    <div class="entry-meta">
                        <img src="../images/popuband/theverge_330x280.png" height="55" width="47">
                    </div>
                </header>
            </div>
            <div class="content-post">
                <br>
            </div>
            <div class="panel-bottom">
                <a href="https://www.theverge.com/circuitbreaker/2017/1/6/14192116/populele-smart-ukelele-hands-on-ces-2017" class="btn btn-xs btn-link" data-original-title="" title="">READ MORE</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-post">
            <div class="blog-meta">
                <time datetime="2017-03-10T10:45:28+00:00" class="entry-date">
                    <span class="day">10</span>
                    <span class="month">March</span>
                </time>
            </div>
            <div class="title">
                <header class="entry-header">
                    <h6 class="inverse-font">The world's first smart ukulele</h6>
                    <div class="entry-meta">
                        </span><img src="../images/popuband/cnbc_330x280.png" height="55" width="47">
                    </div>
                </header>
            </div>
            <div class="content-post">
                <br>
            </div>
            <div class="panel-bottom">
                <a href="http://video.cnbc.com/gallery/?video=3000600312" class="btn btn-xs btn-link" data-original-title="" title="">READ MORE</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-post">
            <div class="blog-meta">
                <time datetime="2017-03-14T10:45:28+00:00" class="entry-date">
                    <span class="day">14</span>
                    <span class="month">Mar</span>
                </time>
            </div>
            <div class="title">
                <header class="entry-header">
                    <h6 class="inverse-font">I'm unboxing it right away to see what it's like!</h6>
                    <div class="entry-meta">
                        <!--      <span class="jp-views">&nbsp;-&nbsp;By&nbsp;<a style="color: #6AB3EB; font-weight: bold;" href="#" class="text-warning" title="">Larry Page</a></span> -->
                        <img src="../images/popuband/theukuleletercher_330x280.png" height="55" width="47">
                    </div>
                </header>
            </div>
            <div class="content-post">
                <br>
            </div>
            <div class="panel-bottom">
                <a href="https://www.youtube.com/watch?v=8q8ANU2_ocw" class="btn btn-xs btn-link" data-original-title="" title="">READ MORE</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-post">
            <div class="blog-meta">
                <time datetime="2017-03-20T10:45:28+00:00" class="entry-date">
                    <span class="day">20</span>
                    <span class="month">Mar</span>
                </time>
            </div>
            <div class="title">
                <header class="entry-header">
                    <h6 class="inverse-font">If you like to linger where it’s shady the Populele wants to linger too</h6>
                    <div class="entry-meta">
                        <img src="../images/popuband/techcrunch_330x280.png" height="55" width="47">
                    </div>
                </header>
            </div>
            <div class="content-post">
                <br>
            </div>
            <div class="panel-bottom">
                <a href="https://techcrunch.com/2017/03/20/if-you-like-to-linger-where-its-shady-the-populele-wants-to-linger-too/" class="btn btn-xs btn-link" data-original-title="" title="">READ MORE</a>
            </div>
        </div>
    </div>
    <!--     <div class="col-md-12">
        <button class="btn btn-default btn-block btn-lazy">LOAD MORE POSTS</button>
    </div> -->
</div>
<!-- Recent Lazy Topics Loader Section -->
