@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ljss83');
	src:url('../fonts/icomoon.eot?#iefixljss83') format('embedded-opentype'),
		url('../fonts/icomoon.woff?ljss83') format('woff'),
		url('../fonts/icomoon.ttf?ljss83') format('truetype'),
		url('../fonts/icomoon.svg?ljss83#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-moon-"], [class*=" icon-moon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-moon-docean:before {
	content: "\e602";
}
.icon-moon-activeden:before {
	content: "\e603";
}
.icon-moon-audiojungle1:before {
	content: "\e604";
}
.icon-moon-blockade:before {
	content: "\e605";
}
.icon-moon-bubble1:before {
	content: "\e606";
}
.icon-moon-codecanyon1:before {
	content: "\e607";
}
.icon-moon-diamons:before {
	content: "\e608";
}
.icon-moon-documents12:before {
	content: "\e609";
}
.icon-moon-envato:before {
	content: "\e60a";
}
.icon-moon-envato1:before {
	content: "\e60b";
}
.icon-moon-folder90:before {
	content: "\e60c";
}
.icon-moon-folder167:before {
	content: "\e60e";
}
.icon-moon-graphicriver1:before {
	content: "\e60f";
}
.icon-moon-leaf5:before {
	content: "\e610";
}
.icon-moon-link23:before {
	content: "\e611";
}
.icon-moon-link39:before {
	content: "\e612";
}
.icon-moon-link49:before {
	content: "\e613";
}
.icon-moon-location4:before {
	content: "\e614";
}
.icon-moon-map45:before {
	content: "\e615";
}
.icon-moon-megaphone10:before {
	content: "\e616";
}
.icon-moon-microlancer1:before {
	content: "\e617";
}
.icon-moon-note18:before {
	content: "\e618";
}
.icon-moon-note25:before {
	content: "\e619";
}
.icon-moon-photodune:before {
	content: "\e61a";
}
.icon-moon-sound:before {
	content: "\e61b";
}
.icon-moon-text46:before {
	content: "\e61c";
}
.icon-moon-themeforest1:before {
	content: "\e61d";
}
.icon-moon-three140:before {
	content: "\e61e";
}
.icon-moon-two298:before {
	content: "\e61f";
}
.icon-moon-voice19:before {
	content: "\e620";
}
.icon-moon-forjq:before {
	content: "\e600";
}
.icon-moon-phpBB:before {
	content: "\e601";
}
.icon-moon-none:before {
	content: "\e000";
}
.icon-moon-bootstrap:before {
	content: "\e001";
}
.icon-moon-less_c:before {
	content: "\e002";
}
.icon-moon-w3c:before {
	content: "\e003";
}
.icon-moon-folder-open:before {
	content: "\e00f";
}
.icon-moon-folder:before {
	content: "\e010";
}
.icon-moon-pushpin:before {
	content: "\e016";
}
.icon-moon-stats:before {
	content: "\e042";
}
.icon-moon-link2:before {
	content: "\e04a";
}
.icon-moon-at:before {
	content: "\e091";
}
.icon-moon-link:before {
	content: "\e621";
}
.icon-moon-file:before {
	content: "\e622";
}
.icon-moon-window:before {
	content: "\e623";
}
.icon-moon-microphone:before {
	content: "\e624";
}
.icon-moon-microphone2:before {
	content: "\e625";
}
.icon-moon-chart:before {
	content: "\e626";
}
.icon-moon-folder2:before {
	content: "\e627";
}
.icon-moon-megaphone:before {
	content: "\e628";
}
.icon-moon-volume:before {
	content: "\e629";
}
.icon-moon-compass:before {
	content: "\e62a";
}
.icon-moon-heart:before {
	content: "\e62b";
}
.icon-moon-heart2:before {
	content: "\e62c";
}
.icon-moon-infinity:before {
	content: "\e672";
}
.icon-moon-uniF4F6:before {
	content: "\e62d";
}
.icon-moon-ruby:before {
	content: "\e63e";
}
.icon-moon-ipcontrol:before {
	content: "\e63d";
}
.icon-moon-mailinglists:before {
	content: "\e687";
}
.icon-moon-moved:before {
	content: "\e63a";
}
.icon-moon-php:before {
	content: "\e639";
}
.icon-moon-lock:before {
	content: "\e663";
}
.icon-moon-copy:before {
	content: "\e62e";
}
.icon-moon-volumefull:before {
	content: "\e62f";
}
.icon-moon-bookmark:before {
	content: "\e636";
}
.icon-moon-comment6:before {
	content: "\e630";
}
.icon-moon-voice:before {
	content: "\e677";
}
.icon-moon-podcast:before {
	content: "\e678";
}
.icon-moon-pin:before {
	content: "\e631";
}
.icon-moon-flag2:before {
	content: "\e632";
}
.icon-moon-coffee:before {
	content: "\e66c";
}
.icon-moon-paypal:before {
	content: "\e66d";
}
.icon-moon-diamond:before {
	content: "\e659";
}
